body{
    font-family: 'Lato', 'Roboto Mono' , -apple-system, BlinkMacSystemFont,  "PingFang TC", "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif, monospace ;
    line-height: 1.5;
    font-weight: 400;
	color:$gray-900;
}

*,*::before,*::after{
    box-sizing: border-box;
}

a{
	text-decoration: none;
	display:block;
	color:inherit;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}

