.seeAndEdit{
    position: relative;

    >span{
    &:hover{
        color:$success;
    }
    &:nth-child(1){
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right:48px;
        cursor: pointer;
        

    }
    &:nth-child(2){
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right: 0;
        cursor: pointer;
    }
    }
}
.admin__table{
    th{
        width: 100px;
    }
    td{
       
        &:nth-child(3){
            width: 300px;
        }
        &:nth-child(5){
            width: 100px;
        }
    }
}

.table > :not(caption) > * > *{
    padding: 16px 0px;
}
.table{
    margin-bottom: 67px;
}
.pagination{
    right: 32px;
}
.page-link{
    color:$dark;
    border: 1px solid $success;
}

.modal__view{
    padding: 32px;
    &__avator{
        background-image: url('../images/emir.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 152px;
        height: 152px;
        
    }
    &__content{
        width: 61%;
        margin-left: 24px;
    }
}
// 擴增按鈕
.btn__expand{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    span{
        transition: all .3s;
    &.open{
        transform: rotate(180deg);
    }
    }
}
.veriFied{
    background-color: $light;
    padding: 2px 8px;
}
.expand__content{
    display: none;
    margin-top: 32px;
    transition: all .5s;
    
    &.open{
        display: block;
    

    }
}
.btn__verified{
    color:$gray-400;
    width: 100%;
    
}
.btn__deactivate{
    width: 100%;
}




